body {
  margin: 0;
  font-family: "Kurale", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Kurale", serif !important;
}
.css-1jl5h6g{
  height: 50px !important;
}

@media (min-width: 320px) {
    .css-1jl5h6g {
        height: 0px !important;
    }
}

@media (min-width: 900px) {
    .css-1jl5h6g {
        height: 50px !important;
    }
}
@media (min-width: 350px) {
    .css-1jl5h6g {
        height: 50px !important;
    }
}